$theme-colour: #FB503B;

@import "bootstrap";
@import "modules/pagination";
@import "modules/gravatar";
@import "modules/navigation";
@import "modules/monokai_markdown";
@import "modules/responsive";
@import "modules/recipe_grid";
@import "modules/tag";
@import "modules/chosen";
@import "modules/epiceditor";
@import url(//fonts.googleapis.com/css?family=Lato:700);

body {
  background-color: #EFEFEF;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover, a:focus {
  color: $theme-colour !important;
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.white-box {
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  border-radius: 4px;
  background-color: #fff;
  padding: 15px;
}

.recipe-container .white-box{
  padding-bottom: 0;
}

.title {
  font-weight: 500;
  color: #33383A;
  font-size: 20px;
  padding-bottom: 10px !important;
}

.page-title {
  margin-top: 0;
  margin-bottom: 15px;
  color: #FB503B;
  font-weight: 300;
  font-size: 25px;
}

.replies-container {
  margin-top: 25px;
}

.recipe-description {
  padding-bottom: 5px;
}

.alert {
  margin-bottom: 15px;
}

.information-container {
  padding-bottom: 15px;
}

.information-container, .user-image, .recipe-title-container {
  display: inline-block;
}

.recipe-title-container {
  padding-left: 15px;
  .title {
    padding-bottom: 0!important;
  }
}

.user-image {
  float:left;
}

.user-information .information-container {
  padding-bottom: 0;
}

.user-stats {
  margin-bottom: 15px;
}

.remember-me {
  padding-left: 5px;
}