.recipe-row {
  margin-bottom: 25px;
}

.tag {
  float: left;
  display: block;
  border-radius: 4px;
  border: $theme-colour 1px solid;
  color:$theme-colour;
  font-weight: 700;
  padding: 1px 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
