@media (max-width: $screen-md-min) {

  .white-box {
    margin-bottom: 20px !important;
  }

  .recipe-row {
    margin-bottom: 0!important;
  }

  .user-stats {
    margin-bottom: 0!important;
  }

  .information-container {
    .user-image {
      display:none;
    }

    .recipe-title-container {
      padding-left: 0;
    }
  }

}