@media (max-width: $screen-md-min) {

  .white-box {
    margin-bottom: 20px !important;
  }

  .recipe-row {
    margin-bottom: 0!important;
  }

  .search-box {
    margin-bottom: 15px;
  }

  .user-stats {
    margin-bottom: 0!important;
  }

}